.div1{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 82%;
    background-image:url("/image/netflix\ background.jpg");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:-1;
    filter: brightness(50%);
   
}


.div2{
    display: flex;
    flex-direction: row;
}

.div3{
    position: relative;
    padding-top: 3%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-blend-mode: color;
    
}

#id1{
    height:4% !important;
    width:5%;  
    margin-top: 20px;
    margin-right:15%;
    position: relative;
    filter: brightness(100%) !important;
    display: flex;
}
#id2{
    border: solid red;
    border-radius: 2px;
    background:red;
    color: white;
    padding: auto; 
    margin-top: 20px;
    margin-right: 20px; 
    width: 6% !important;
    height: 4% !important;
}

.container{
    padding-top: 10%;
    z-index:1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 5px;
    font-weight: bold;
    filter: brightness(100%);

}

.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .div5{
    margin-left: 10%;
    width: 80%;
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    text-align: center;
    border: 2px inset black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }

.div5:hover{
    filter: brightness(80%);
}
.button:hover{
    filter: brightness(80%);
    background-color: maroon;
}
#id2:hover{
    filter: brightness(80%);
    background-color: maroon;
    border-color: maroon;
}

.tags{
    border: black;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:315px;
    height: 215px;
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    filter: brightness(100%);
    
}
.tags:hover{
    transform: scale(0.9);
}

.div6{
    border: hidden;
}

.div6:hover{
    transform: scale(1.2);
}

.select2{
    font-size: large;
    background-color: rgb(18, 14, 14);
    color: white;
}